@media (max-width: 1200px) {
    .promo {
        &__header {
            display: block;
            margin: 0 auto;
        }
        &__subheader {
            display: block;
            margin: 25px auto;
        }
        &__icons {
            margin-right: 50%;
            transform: translateX(50%);
            margin-bottom: 40px;
        }
        .button {
            margin: 10px auto 20px auto;
        }
        &__link {
            margin: 0 auto;
        }
    }
    .consultation {
        .container {
            
        }
        .title {
            text-align: center;
        }
        &__descr {
            margin-top: 20px;
            text-align: center;
        }
        .feed-form {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}
@media (max-width: 991px) {
    .header {
        &__phone {
            display: none;
        }
    }
    .advantage {
        &_wrapper {
            padding: 0 15px;
        }
    }
    .carousel {
        &__inner {
            
        }
        .slick-dots {
            display: none;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
}
@media (max-width: 767px) {
    .header {
        justify-content: space-around;
        &__contacts {
            display: none;
        }
    }
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 19px;
            line-height: 10px;
        }
        &__icons {
            margin-top: 50px;
        }
        .button {
            margin-bottom: 20px;
        }
    }
    .advantage {
        &_wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
        &_items {
            margin-top: 20px;
        }
        &_subheader {
            font-size: 24px;
        }
        &_descr {
            font-size: 18px;
        }
    }
    .consultation {
        min-height: 570px;
        padding: 40px 0 40px 0;
        .title {
            font-size: 30px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            display: none;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 50px;
        }
    }
    .feed {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__count {
            text-align: center;
        }
        &__descr {
            width: 350px;
            margin: 0 auto;
        }
    }
}