.advantage {
    background-color: #f6f6f6;
    min-height: 470px;
    padding: 70px 0 78px 0;
    &_header {
        display: block;
        margin: 0 auto;
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    &_wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 65px;
    }
    &_items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    &_subheader {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin-top: 38px;
    }
    &_descr {
        display: block;
        width: 238px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        margin-top: 26px;
        a {
            color: #ff0000;
        }

    }
}
