.feed {
    min-height: 105px;
    .title {
        text-align: center;
        margin-bottom: 70px;
        color: #0d0d0d;
        font-size: 30px;
    }
    &__item {
        display: flex;
    }
    &__text {
        display: inline-block;
        width: 656px;
        margin-left: 61px;
    }
    &__img {
        width: 169px;
        height: 169px;

    }

    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__count {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 19px;
    }

    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 100px;
    }



}